.about {
  width: 100%;
  background-color: #fff;
}

.about .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.about .background_sheet {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(255, 201, 80, 1) 0%, rgba(255, 222, 149, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .text_container {
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #161616;
}

.about .text_container h3 {
  margin: 20px 0 10px 0;
}

.about .text_container p {
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.about .p_gabinet {
  display: block;
  margin: 5px 0 25px 0;
}

.about .link_gabinet {
  position: relative;
  background: linear-gradient(to right, rgb(0, 174, 255), rgb(0, 174, 255) 50%, #161616 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 350ms ease;
}

.about .link_gabinet:hover {
  background-position: 0 100%;
}

.about .link_gabinet::after {
  position: absolute;
  left: 0%;
  bottom: -10%;
  display: block;
  content: "";
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid rgb(75, 198, 255);
}

@media (min-width: 1224px) {
  .about .text_container {
    font-size: 18px;
  }
}
