.terms_of_use_page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.terms_of_use_page .container {
  width: 80%;
  max-width: 1200px;
  margin-top: 50px;
  /* text-align: justify; */
}

.terms_of_use_page .background_sheet {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}

.terms_of_use_page .text_container {
  padding: 50px 40px;
}

.terms_of_use_page h3 {
  margin-bottom: 20px;
  text-align: center;
}

.terms_of_use_page p {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

@media (max-width: 599px) {
  .terms_of_use_page .text_container {
    padding: 25px 10px;
  }
}

.terms_of_use_page .pdf_download {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.terms_of_use_page .pdf_download .button_container {
  background: var(--main-gradient-background1);
}

.terms_of_use_page .pdf_download button {
  padding: 12px 13px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  border: 1px solid #222;
  background: linear-gradient(to right, #fff, #fff 50%, #222 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 350ms ease;
}

.terms_of_use_page .pdf_download button:hover {
  background-position: 0 100%;
}
